.all {
  scale: 0.96;
  margin-top: 5rem;
}

.title {
  height: 20em;
  width: 60em;
  padding: 0.5em;
}

.table-results {
  height: 400px;
  width: 750px;
  flex: 1;
  color: rgb(0, 0, 0);
  padding: 1em 1em;
  border: none;
  border-collapse: collapse;
  

}

.invisible{
  visibility: hidden;
}

.botton-entrar {
  background-color: rgb(65, 93, 237);
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
}