.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #f0a81887;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    z-index: 1000; 
    padding: 0.5rem 1rem;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    min-width: 900px;
    margin: 0 auto;
}
.menu-right {
    display: flex;
    gap: 1.5rem;
    margin-right: 20px; 
}

.menu-right h2 {
    padding-right: 2rem;
}

.menu-right a {
    text-decoration: none;
    color: #141821;
    font-weight: 600;
}

.menu-right a:hover {
    color: #deb017;
}

.logo{
    width: 250px;
}
.logo img:hover{
    color: #deb017;
}