.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #f0a81887;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    z-index: 1000; 
    padding: 0.5rem 1rem;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    min-width: 900px;
    margin: 0 auto;
}

.menu-right { position: relative; display: flex; gap: 1.5rem; }

.user-panel{
  position: absolute;
  background-color: #f0a81887;
  top: 52%;           /* pegado justo debajo del menú */
  right: 0;
  max-height: 50px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 6px 12px rgb(223, 198, 13);
  padding: 4px 4px;
  display: flex;
  gap: 6px;
  z-index: 10;
}
.user-name   { 
    font-weight: 900;
    font-size: 1.8em; 
    text-align: center;
    align-self: center;
}
.logout-btn  { 
    background: none; 
    border: none; 
    text-align: center; 
    cursor: pointer; 
    font-size: 1.8em;
    font-weight: 900;
    align-self: center;
}

.logout-btn:hover { 
    border-radius: 25px;
    background: #de6717; 
}

/* Botón salir */
.logout-btn{
  background:none;
  border:none;
  text-align:left;
  cursor:pointer;
  margin-right: 8px;

}
.logout-btn p:hover{ 
    background:#de6717 
}

.menu-right h2 {
    padding-right: 2rem;
}

.menu-right a {
    text-decoration: none;
    color: #141821;
    font-weight: 600;
}

.menu-right a:hover {
    color: #deb017;
}

.logo{
    width: 250px;
}
.logo img:hover{
    color: #deb017;
}